* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark-theme: #141C2F;
  --card-dark-theme: #1F2A48;
  --color-dark-theme: #E9ECF5;

  --blue-button: #0279FB;
  --blue-button-hover: #2a91ff;
  --not-available: #8F94A5;

  --bg-light-theme: #F5F8FF;
  --card-light-theme: #FEFEFE;
  --color-light-theme: #202122;
  //filter: invert(6%) sepia(7%) saturate(533%) hue-rotate(169deg) brightness(92%) contrast(83%);
}